.main{
     
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--colorbackground);
}

.imagen{     
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
    .articulo{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       background-color: var(--colorbackground);
        
    }
    .article{
        position: relative;
        width: 200px;
        margin: 20px;
        height: 150px;     
    }
    .img1{
        display: flex;
        height: 100%;
        width: 100%;
        background-attachment: fixed; 
        background-size: cover; 
        background-position: center;
        position: absolute;      
         
    }
    .texto {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .texto h4{
        margin:0 auto;
    }

    h4{
        background-color:var(--colorprimario);
        padding: 10px;
        display: block;
        color:#fff;
        font-weight: 300;
        position: relative;
        font-size: 20px;
        text-align: center; 
        font-family: var(--fuente2); 
         
    }
    .nosotros{
        text-align: center;
        font-family: var(--fuentelogo);
        color: var(--colorheader);       
        text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
        width: 95%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    

.mapa{
    background-color: chartreuse;
    width: 28%;
    height: auto;
    display: flex;
    
}
@media only screen and (max-device-width: 700px){
    .main, .imagen, .articulo{
        display: block;
        padding: 10px auto;
        
    }

    .imagen{
        width:100%;
    }
    .mapa{
        width: 90%;
        margin: auto;
        display: block;
    }

    .articulo {
        margin-top: 10px;
         
    }
    .nosotros{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .article{
        width: 95%;
        margin:5px 5px 5px 5px;
        display: block;
        height: 250px;
    }
    h4{
        text-align: center;
    }

}