:root{ 
--colorprimario: #ff007f;
--colorsecundario:#FF409F;   
--colorbackground:#fff5fa;
--coloriconos:#FFC2E0;
--colorheader:#300018;
--colortextheader:#FF82C0;
 
}
:root{
--fuente2: 'BioRhyme', serif;
--fuentelogo:'Arvo', serif;

}